In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

data=pd.read_csv("records-for-2016.csv")

plt.style.use("ggplot")
plt.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.sans-serif']=['SimHei']

# 1.对标称属性统计每个可能取值的频数

In [2]:
data.head()

,Agency,Create Time,Location,Area Id,Beat,Priority,Incident Type Id,Incident Type Description,Event Number,Closed Time
0,OP,2016-01-01T00:00:57.000,ST&MARKET ST,P1,05X,2.0,415GS,415 GUNSHOTS,LOP160101000003,2016-01-01T00:32:30.000
1,OP,2016-01-01T00:01:25.000,AV&HAMILTON ST,P3,26Y,2.0,415GS,415 GUNSHOTS,LOP160101000005,2016-01-01T00:48:23.000
2,OP,2016-01-01T00:01:43.000,ST&CHESTNUT ST,P1,02X,2.0,415GS,415 GUNSHOTS,LOP160101000008,2016-01-01T00:21:24.000
3,OP,2016-01-01T00:01:48.000,WALLACE ST,P2,18Y,2.0,415GS,415 GUNSHOTS,LOP160101000007,2016-01-01T01:15:03.000
4,OP,2016-01-01T00:02:05.000,90TH AV,P3,34X,2.0,415GS,415 GUNSHOTS,LOP160101000009,2016-01-01T00:54:52.000

In [3]:
data.Agency.value_counts()

OP    110827
Name: Agency, dtype: int64

In [10]:
data['Create Time'].value_counts()

2016-05-06T11:21:13.000    3
2016-05-01T11:24:17.000    2
2016-03-21T09:31:59.000    2
2016-03-07T11:14:32.000    2
2016-05-23T19:29:54.000    2
2016-07-04T20:59:29.000    2
2016-04-06T19:03:52.000    2
2016-06-09T20:43:29.000    2
2016-02-08T16:14:21.000    2
2016-04-15T23:48:31.000    2
2016-01-15T22:32:04.000    2
2016-01-27T03:33:26.000    2
2016-03-07T16:21:59.000    2
2016-01-22T11:59:29.000    2
2016-01-26T11:10:45.000    2
2016-04-23T18:47:40.000    2
2016-06-15T15:09:14.000    2
2016-05-20T23:18:20.000    2
2016-02-04T18:42:54.000    2
2016-06-25T23:32:42.000    2
2016-04-14T07:13:45.000    2
2016-03-25T22:13:49.000    2
2016-07-30T13:15:06.000    2
2016-05-01T17:49:46.000    2
2016-07-04T22:57:48.000    2
2016-03-20T15:22:22.000    2
2016-03-05T01:27:51.000    2
2016-06-21T15:27:56.000    2
2016-02-20T17:45:29.000    2
2016-04-26T12:01:09.000    2
                          ..
2016-02-13T11:58:48.000    1
2016-07-05T14:13:21.000    1
2016-04-13T09:07:07.000    1
2016-06-03T20:25:54.000    1
2016-03-01T16:27:21.000    1
2016-01-29T19:30:30.000    1
2016-01-08T19:35:26.000    1
2016-03-30T08:48:04.000    1
2016-07-26T12:57:12.000    1
2016-04-26T13:50:12.000    1
2016-06-08T21:04:44.000    1
2016-05-10T15:53:53.000    1
2016-04-11T09:42:28.000    1
2016-07-03T09:12:35.000    1
2016-06-19T00:38:29.000    1
2016-07-01T10:18:23.000    1
2016-02-15T15:21:42.000    1
2016-05-17T04:22:24.000    1
2016-03-24T17:48:25.000    1
2016-03-28T10:47:34.000    1
2016-07-13T02:09:18.000    1
2016-02-02T02:10:58.000    1
2016-02-23T18:30:31.000    1
2016-04-27T09:00:19.000    1
2016-01-20T13:16:38.000    1
2016-04-30T14:32:05.000    1
2016-04-28T18:07:06.000    1
2016-03-13T22:50:37.000    1
2016-03-23T10:30:39.000    1
2016-01-11T09:57:04.000    1
Name: Create Time, Length: 110453, dtype: int64

In [5]:
data.Location.value_counts()

 INTERNATIONAL BLVD               2156
 AV&INTERNATIONAL BLVD            1829
 MACARTHUR BLVD                   1813
 BROADWAY                         1472
 7TH ST                           1223
 FOOTHILL BLVD                    1052
 TELEGRAPH AV                      875
 SAN PABLO AV                      765
 AV&MACARTHUR BLVD                 737
 FRUITVALE AV                      709
 BANCROFT AV                       707
 ST&BROADWAY                       691
 HIGH ST                           678
 ST&TELEGRAPH AV                   638
 73RD AV                           595
 HEGENBERGER RD                    591
 AV&FOOTHILL BLVD                  554
 LAKESHORE AV                      509
 WEBSTER ST                        465
 E 12TH ST                         455
 AV&BANCROFT AV                    440
 HARRISON ST                       436
 ST&MARKET ST                      427
 GRAND AV                          416
 MARKET ST                         414
 35TH AV                           408
 ST&MARTIN LUTHER KING JR WY       401
 14TH ST                           401
 34TH ST                           371
 ST&SAN PABLO AV                   363
                                  ...
11TH AV&BANCROFT AV                  1
14TH DIMOND AV                       1
CURTIS BODEN WY                      1
24TH PARK BLVD                       1
DERBY SHATTUCK AV                    1
DOOLITTLE HUNTER AV                  1
DOLORES INTERNATIONAL BLVD           1
 WY&PARK BOULEVARD WY                1
64TH HILTON ST                       1
COOLIDGE E 12TH ST                   1
86TH 17TH ST                         1
94TH MAY CT                          1
KELLER 106TH AV                      1
7TH ELYSIAN FIELDS DR                1
GRAND WILLOW ST                      1
 AV&STEELE ST                        1
COLTON 74TH AV                       1
E ST & JEFFERSON ST                  1
 51 ST                               1
98TH 41ST ST                         1
EDES SAN PABLO AV                    1
CAIRO BATES RD                       1
FAIRFAX EMPIRE RD                    1
ALLENDALE ST&TELEGRAPH AV            1
85TH HAMILTON ST                     1
85TH ST&HARRINGTON AV                1
42ND 70TH AV                         1
 WY&AVOCA AV                         1
BANCROFT FAIRFAX AV                  1
ESTATES FOOTHILL BLVD                1
Name: Location, Length: 24046, dtype: int64

In [9]:
data['Area Id'].value_counts()

P3     47425
P1     41419
P2     19610
POU     2173
PCW      194
TEC        4
WAG        1
JLS        1
Name: Area Id, dtype: int64

In [11]:
data.Beat.value_counts()

04X     4515
08X     3931
26Y     3511
30Y     3473
19X     3455
30X     3416
03X     3195
23X     3076
34X     2857
07X     2831
20X     2702
29X     2646
06X     2580
03Y     2562
27Y     2517
25X     2467
31Y     2460
27X     2333
35X     2328
32X     2316
33X     2276
09X     2158
21Y     2100
32Y     2093
12Y     1987
14X     1832
26X     1766
02X     1746
24X     1704
02Y     1659
10Y     1573
10X     1557
22X     1541
17Y     1482
21X     1479
24Y     1454
31X     1439
22Y     1420
13Z     1397
15X     1393
05X     1342
01X     1304
12X     1299
31Z     1268
28X     1261
11X     1208
35Y     1159
18Y     1102
14Y     1027
17X      969
13Y      952
16Y      907
25Y      739
18X      721
16X      708
13X      630
05Y      408
PDT2      16
Name: Beat, dtype: int64

In [12]:
data.Priority.value_counts()

2.0    86272
1.0    24555
Name: Priority, dtype: int64

In [13]:
data['Incident Type Id'].value_counts()

933R      10094
415        7883
SECCK      7251
10851      5308
911H       5089
5150       4859
415C       3701
242        3483
912        2583
949        2504
HAZ        2424
243E       2310
WELCK      2276
415GS      2025
901A       1730
602L       1690
211        1592
415TH      1458
943        1288
415N       1287
245        1286
975        1159
415CU      1084
20002      1071
933MA      1061
601R       1024
901        1020
EVAL       1011
CODE7       975
597         810
          ...
243           3
148_5A        3
962           3
529           3
203           3
11351         3
21235V        3
370           3
503           2
10801         2
140           2
591           2
SUSPS         2
10852         2
WIT           2
626_6         2
484G          2
970A          1
A487          1
DROWN         1
407           1
300WI         1
ABC           1
3211H         1
243A          1
YELALT        1
487E          1
955B          1
EBMUD         1
OTC           1
Name: Incident Type Id, Length: 242, dtype: int64

In [14]:
data['Incident Type Description'].value_counts()

ALARM-RINGER            10094
SECURITY CHECK           7251
STOLEN VEHICLE           5308
911 HANG-UP              5089
MENTALLY ILL             4859
DISTURBING THE PEACE     4840
415 UNKNOWN              3701
BATTERY                  3483
SUSPICIOUS PERSON        2583
SUSPICIOUS VEHICLE       2504
HAZARDOUS SITUATION/     2424
415 FAMILY               2380
BATTERY ON CO-HABITA     2310
WELFARE CHECK -- CHE     2276
415 GUNSHOTS             2025
VEHICLE COLLISION-PE     1730
TRESPASS:                1690
ROBBERY                  1592
415 THREATS              1458
FIGHT                    1288
DISTURBANCE-NEIGHBOR     1287
ASSAULT W/DEADLY WEA     1286
STAND BY AND PRESERV     1159
DISTURBANCE-CUSTOMER     1084
HIT & RUN (PROPERTY      1071
ALARM-MANUALLY ACTIV     1061
RUNAWAY                  1024
EVALUATION               1011
SUBJECT ARMED WITH W      975
VEHICLE COLLISION/PR      882
                        ...
POSSESSION OR PURCHA        3
CONSPIRACY COURT ORD        3
AGGRAVATED ASSAULT          3
SCOOTERS INVOLVED IN        3
MEET WITH THE CITIZE        3
MAYHEM                      3
FALSE REPORT OF CRIM        3
FALSE PERSONATION OF        3
SUSPECTS                    2
WITNESS                     2
CHOP SHOP OWNERSHIP/        2
THREATEN WITNESS/VIC        2
FRAUDULENT USE OF AC        2
NONSTUDENT REFUSE TO        2
VEHICLE TAMPERING           2
EMBEZZLEMENT                2
INJURE TELEPHONE/POW        2
ALCOHOL,BEVERAGE AND        1
7 DIGIT EMERGENCY LI        1
VEHICLE PARKED ON SI        1
BARKING DOG                 1
CHILD TAKEN INTO PRO        1
DROWNING                    1
GRAND THEFT: DOG            1
ATTEMPTED GRAND THEF        1
YELLOW ALERT AT THE         1
UNLAWFUL ASSEMBLY           1
EASTBAY MUD                 1
ASSSAULT                    1
OAKLAND TRAFFIC CODE        1
Name: Incident Type Description, Length: 245, dtype: int64

In [15]:
data['Event Number'].value_counts()

LOP160608000165    1
LOP160609000120    1
LOP160214000704    1
LOP160705000865    1
LOP160608000231    1
LOP160115000702    1
LOP160529000577    1
LOP160714001076    1
LOP160706000523    1
LOP160106000549    1
LOP160407000288    1
LOP160412000352    1
LOP160320000042    1
LOP160710000290    1
LOP160406000291    1
LOP160622000308    1
LOP160103000319    1
LOP160516000892    1
LOP160320000875    1
LOP160401000952    1
LOP160112000983    1
LOP160525000002    1
LOP160711000942    1
LOP160316001055    1
LOP160310000359    1
LOP160706000850    1
LOP160718000390    1
LOP160218000786    1
LOP160605000810    1
LOP160208001061    1
                  ..
LOP160505000679    1
LOP160226000293    1
LOP160521000782    1
LOP160329000394    1
LOP160204000258    1
LOP160608000601    1
LOP160629000201    1
LOP160106000951    1
LOP160324000426    1
LOP160512001083    1
LOP160210000282    1
LOP160128000381    1
LOP160217000953    1
LOP160417000197    1
LOP160430000242    1
LOP160414000540    1
LOP160201000431    1
LOP160726000491    1
LOP160310000262    1
LOP160609001048    1
LOP160506000913    1
LOP160206000419    1
LOP160217001170    1
LOP160102000314    1
LOP160329000289    1
LOP160716000589    1
LOP160616000029    1
LOP160117000322    1
LOP160109000369    1
LOP160103000329    1
Name: Event Number, Length: 110827, dtype: int64

In [16]:
data['Closed Time'].value_counts()

2016-05-29T00:43:38.000    3
2016-06-27T14:03:57.000    2
2016-04-28T20:56:10.000    2
2016-03-20T20:06:04.000    2
2016-07-20T19:57:04.000    2
2016-05-03T15:20:59.000    2
2016-05-05T15:11:51.000    2
2016-04-16T15:15:20.000    2
2016-06-09T17:20:14.000    2
2016-06-16T21:35:35.000    2
2016-02-20T00:42:54.000    2
2016-02-15T23:17:58.000    2
2016-05-13T14:11:13.000    2
2016-03-15T01:12:12.000    2
2016-03-24T01:47:29.000    2
2016-02-16T09:49:56.000    2
2016-06-17T23:03:34.000    2
2016-01-03T23:01:41.000    2
2016-06-05T23:36:44.000    2
2016-07-31T14:01:31.000    2
2016-07-17T16:03:54.000    2
2016-04-16T19:39:21.000    2
2016-03-04T22:14:15.000    2
2016-06-11T08:37:34.000    2
2016-06-15T01:58:11.000    2
2016-01-05T23:49:56.000    2
2016-05-08T15:13:46.000    2
2016-05-25T11:02:57.000    2
2016-06-14T14:45:20.000    2
2016-04-23T15:59:24.000    2
                          ..
2016-06-27T11:14:45.000    1
2016-06-04T23:25:52.000    1
2016-03-30T21:41:35.000    1
2016-03-11T21:55:23.000    1
2016-01-12T16:53:52.000    1
2016-04-05T19:06:55.000    1
2016-02-15T23:07:07.000    1
2016-04-09T18:47:17.000    1
2016-07-15T16:18:38.000    1
2016-03-19T20:35:54.000    1
2016-04-06T10:22:51.000    1
2016-05-03T16:07:14.000    1
2016-05-19T11:16:32.000    1
2016-03-23T10:47:19.000    1
2016-01-12T20:27:24.000    1
2016-04-06T20:32:31.000    1
2016-06-15T13:09:40.000    1
2016-04-08T05:11:06.000    1
2016-05-29T21:10:01.000    1
2016-02-03T07:23:49.000    1
2016-03-03T23:06:21.000    1
2016-04-25T01:57:05.000    1
2016-05-21T19:37:25.000    1
2016-01-27T03:22:42.000    1
2016-02-21T04:38:47.000    1
2016-03-19T16:22:23.000    1
2016-04-14T09:40:59.000    1
2016-07-12T09:31:58.000    1
2016-05-22T02:23:55.000    1
2016-03-14T22:23:23.000    1
Name: Closed Time, Length: 110451, dtype: int64

# 2.该数据没有数值属性值